/* Potential Color Palette:
#6c9a8b
#e8998d
#eed2cc
#fbf7f4
#a1683a */

html {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
}

main {
  width: 80vw;
  margin: auto;
  max-width: 80ch;
  font-size: 1.6rem;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Libre Baskerville, serif;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
}

section {
  padding-bottom: 1.5rem;
}

.list-container {
  width: 100%;
  display: flex;
}

.c1 {
  width: 50%;
}

.c2 {
  width: 50%;
}

ul {
  line-height: 1.5;
}

footer {
  padding-top: 4rem;
  font-size: 1rem;
  text-align: center;
}